<!DOCTYPE html>
<html>
<head>
  <title>RADS - CS411 Final Project</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/style_RADS.css">
</head>
<body>

  <div id="banner">
    <div class="content">
      <h1>Educational Finances to Inform Investment</h1>
    </div>
  </div>


    <div class="row">
     <div class="column side">

         <div class="menu">
            <label for="company">Choose a company:</label>

            <select name="compnay" id="compnay">
                <option value="google">Google</option>
                <option value="apple">Apple</option>
                <option value="ADAMS RESOURCES & ENERGY, INC.">ADAMS RESOURCES & ENERGY, INC.</option>
                <option value="ADVANCED MICRO DEVICES INC">Audi</option>
            </select>
        </div>

          <div class="menu">
            <label for="company">Choose a company:</label>
                <select name="compnay" id="compnay">
                    <option value="google">Google</option>
                    <option value="apple">Apple</option>
                    <option value="ADAMS RESOURCES & ENERGY, INC.">ADAMS RESOURCES & ENERGY, INC.</option>
                    <option value="ADVANCED MICRO DEVICES INC">Audi</option>
                </select>
            </div>
         </div>
    <div class="column middle">
          <table id="customers">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>

            </table>
        </div>
    </div>



</body>
</html>