<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RADS47 - CS411 Final Project</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/template.css">
</head>

  <body>
  <div>
      <h1>
          Educational Finances to Inform Investment
      </h1>
  </div>

  <div>
     <label for="company">Choose a company:</label>

    <select name="compnay" id="compnay">
      <option value="google">Google</option>
      <option value="apple">Apple</option>
      <option value="ADAMS RESOURCES & ENERGY, INC.">ADAMS RESOURCES & ENERGY, INC.</option>
      <option value="ADVANCED MICRO DEVICES INC">Audi</option>
    </select>


  <label for="company">Choose a company:</label>

    <select name="compnay" id="compnay">
      <option value="google">Google</option>
      <option value="apple">Apple</option>
      <option value="ADAMS RESOURCES & ENERGY, INC.">ADAMS RESOURCES & ENERGY, INC.</option>
      <option value="ADVANCED MICRO DEVICES INC">Audi</option>
    </select>
  </div>
